/* Universal Styles */

@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Hind Vadodara', sans-serif;
    color: #404040;
    box-sizing: border-box;

}

.main-content {
    position: relative;
    top: 64px;
}

p {
    margin-top: 24px;
    margin-bottom: 24px;
}

h1 {
    margin: 0;
}

/* Header */

header .content {
    height: 64px;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: white;
}

header nav ul {
    display: flex;
}

.logo {
    display: inline-flex;
    flex: 1;
    margin-left: 24px;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo span {
    font-weight: bold;
}

nav li {
    margin-left: 16px;

}

nav a {
    vertical-align: bottom;
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin-right: 24px
}

header .mobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    header .desktop {
        display: none;
    }

    header .mobile {
        display: block;
    }

    header .mobile ul {
        justify-content: space-around;
    }
}

/* Hero */

#hero {
    width: 100%;
    display: flex;
    background-color: lightgrey;
}

.hero-img {
    width: 60%;
    height: auto;
    margin: 32px 24px;

}

#hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

#hero-cta p {
    font-weight: bold;
}

#button {
    padding-top: 8px;
    text-align: center;
    padding-bottom: 8px;
    color: white;
    background-color: #404040;
    text-decoration: none;
}


#read-more {
    display: flex;
    width: 100%;
    margin: 0;
}

#read-img {
    margin-top: 32px;
    margin-bottom: 32px;

    min-width: 60%;
}

#quote-text {
    margin-left: 24px;
    width: 60%;
    display: flex;
    flex-direction: column;

}

#quote-text h2 {
    margin-top: 0px;
    margin-bottom: 24px;
}

#infos {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 16px;

}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.info h4 {
    margin-bottom: 8px;
    margin-top: 0px;
}

.info p {
    margin-bottom: 8px;
    margin-top: 0px;
}

.description {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}

#guest {
    background-color: lightgrey;
}

#courses h2 {
    padding-top: 32px;
    text-align: center;
}

#courses {
    background-color: lightgrey;
}

#course-container {
    max-width: 100%;
    margin: 32px 72px;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    padding-bottom: 32px;
}

.row {
    display: flex;
    flex: 1;

}

.course {
    margin-bottom: 32px 16px;
    flex: 1;
    background-color: white;
    margin: 16px;
}

.course img {
    width: 100%;
    height: auto;
}

.course h4 {
    margin-top: 16px;
}

.course p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.course-text {
    margin-left: 16px;
    margin-bottom: 24px;
}

footer {
    display: flex;
    align-items: center;

}

footer p {
    margin-left: 24px;
    margin-top: 16px;
    flex: 1;
}

footer nav li {
    display: inline-flex;
    margin-left: 16px;
    vertical-align: bottom;
}

video {
    margin-top: 32px;
    margin-bottom: 32px;

}

#watch-more {
    display: flex;
    width: 100%;
    margin: 0;
}

#thesis-text {

    display: flex;
    flex-direction: column;

    max-width: 60%;
}

#thesis {
    display: flex;
    flex-direction: row;
    margin-left: 24px;
    margin-top: 16px;
}

.these {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.these img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.description-thesis {
    width: 65%;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
}